@import url('common.css');
/*
.t_board{
    border:1px solid #000;
    width: 1000px;
    margin: 0 auto;
    border-collapse:collapse;
}
.t_board thead th{
    background:#555;
    color: #fff;
    padding: 15px 0;
}
.t_board tbody td{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    text-align: center;
}
.t_board tbody td:nth-of-type(2){
    text-align: left;
}
.t_board tbody td p {
    width: 700px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.t_board tfoot td{
    text-align: right;
    padding-right:10px;
}
.t_board tbody tr:nth-of-type(even) td{
    background:#eee;
}*/