@import url('common.css');

.con_s1 {
    width: 1140px;
    margin: 0 auto;
}

.con_s1 h2 {
    font-size: 3em;
    text-align: center;
}

.con_s1 ul {
    overflow: hidden;
    background: red;
}

.con_s1 ul li {
    float: left;
    width: 32%;
    /* calc(32% - 10px) */
    background: blue;
    position: relative;
    margin: 0 2% 30px 0;
    overflow: hidden;
    font-size: 0;
    padding: 5px;
}

.con_s1 ul li:nth-of-type(3n) {
    margin-right: 0
}

.con_s1 ul li img {
    width: 100%
}
.con_s1 ul li span {
    position: absolute;
    left: 0; bottom: -50px;
    width: 10%;
    background: rgba(0, 0, 0, 1);
    text-align: center;
    line-height: 3;
    opacity: 0;
    transition: bottom 2s;
}

.con_s1 ul li:hover span {
    opacity: 1;
    bottom:0;
    font-style: italic;
}


